body{
    background-color: rgb(255, 239, 241);
    width: auto;
    height: auto;
    border: none;
}

figure{
    background-color: rgb(244, 214, 238);
    text-align: center;
    border: none;
    
}