body{
    margin: 1vw;
}

img{
    width: 10vw;
    margin: 2vw;
}

.img1{
    float: right;
}
.img2{
    float: left;
}
.img3{
    float: right;
}
.texto1{
    float: left;
    border-bottom: 0.5vw dotted lightblue;
}

.texto2{
    float: right;
    border-bottom: 0.5vw dotted lightblue;
}

.texto3{
    float: left;
    border-bottom: 0.5vw dotted lightblue;
}