p{
    text-align: center;
}
.verdeescuro{
    background-color: green;
}

table, td{
    border: 1px solid black;
    text-align: center;
    align-items: center;
}

.branco{
    background-color: white;
}

.verdeclaro{
    background-color: rgba(216, 255, 159, 0.915);
}

.cinza{
    background-color: gray;
    color: white;
}

.preto{
    background-color: black;
    color: white;
}
.cinzaclaro{
    background-color: rgb(200, 197, 197);
    color: white;
}

.tablepreto{
    background-color: black;
}