body{
    background-color: rgb(185, 253, 253);
}
h2{
    text-align: center;
}

.sec1{
    margin-left: 1vw;
    background-color: white;
    border: 1vw solid black;
    font-size: 2vw;
    width: 65%;
}

.sec2{
    margin: 1vw;
    background-color: white;
    border: 8px solid black;
    font-size: 20pt;
    width: 1000px;
}