body{
    background-color: #B1B2FF;
}
.container{
    background-color: #AAC4FF;
    font-family: 'Bakbak One', cursive;
    font-family: 'Ubuntu', sans-serif;
}
h4{
    background-color: white;
}
h2{
    text-align: center;
}
span{
    background-color: yellow;
}

.fontfamily:hover{
    background-color: #D2DAFF;
}
.fontfamily{
    border: solid 3px;
}
.texto1{
    font-family: 'Bakbak One', cursive;
}
.texto2{
    font-family: 'Ubuntu', sans-serif;
}

.fontstyle:hover{
    background-color: #D2DAFF;
}
.fontstyle{
    border: solid 3px;
}
.texto3{
    font-style: italic;
}

.fontweight:hover{
    background-color: #D2DAFF;
}
.fontweight{
    border: solid 3px;
}
.texto4{
    font-weight: 900;
}

.fontsize:hover{
    background-color: #D2DAFF;
}
.fontsize{
    border: solid 3px;
}
.texto5{
    font-size: large;
}
.texto6{
    font-size: xx-large;
}
.texto7{
    font-size: medium;
}
.texto8{
    font-size: small;
}