body{
    padding: 1vw;
    margin: 0; 
    font-size: 20px;
    background: linear-gradient(180deg, rgba(16,100,208,1) 20%, rgba(20,174,208,1) 40%, rgba(245,245,245,1) 60%, rgba(180,245,146,1) 80%, rgba(87,183,43,1) 100%);
}

a{
    text-decoration: none;
}

h1, h2, h3{
    font-family: 'Mouse Memoirs', sans-serif;
}

p{
    font-family: 'Fuzzy Bubbles', cursive;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
}

button{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: #fff;
    background: rgb(89,184,45);
    background: linear-gradient(90deg, rgba(89,184,45,1) 30%, rgba(146,223,109,1) 70%);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

button:hover {
    background-color: #3e8e41
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

figcaption{
    padding: 1vw;
}

.links{
    padding: 1vw;
}

.textos{
    padding-left: 2vw;
}

.card{
    display: flex;
    flex-direction: column;
}

.ep1{
    border: dotted black 5px;
    border-radius: 15px;
}

.ep2{
    border: dotted black 5px;
    border-bottom: none;
    border-top: none;
    border-radius: 15px;
}

.ep3{
    border: dotted black 5px;
    border-radius: 15px;
}

.ep4{
    border: dotted black 5px;
    border-top: none;
    border-radius: 15px;
}

.ep5{
    border: dotted black 5px;
    border-top: none;
    border-radius: 15px;
}

#ep1{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#ep2{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#ep3{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#ep4{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#ep5{
    display: flex;
    flex-direction: row;
    align-items: center;
}
